<div class="p-4 mb-3 bg-body-tertiary rounded">
    <!--informações na lateral, ao lado das postagens-->
    <h4 class="fst-italic">About TYCO</h4>
    <p class="mb-0">Trade Your Car Online, better known as TYCO, is an online platform launched in 1991 that was one of the first sites for buying, selling and auctioning cars in Canada, expanding to the rest of the Americas in the following years. It's simple, light and intuitive interface helped its users to get used to the technology that in the 90's was very advanced and with an aggressive marketing campaign on TV and sponsorships in racing cars, the site became increasingly famous.</p>
</div>
