<article class="blog-post">
    <!--titulo do artigo-->
    <h2 class="blog-post-title mb-1"><%= article.title %></h2>
    <!--data e usuario que postou-->
    <p class="blog-post-meta"><%= render 'article_detail', article: article %></p>
    <!--artigo com limitação de caracteres-->
    <%= truncate(article.body, length: 1315) %>
    <p></p>
    <p><%= link_to t('articles.continue_reading') , article, class: 'btn btn-secondary' %>

</article>