<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <!--titulo-->
        <h1 class="display-4 fst-italic"><%= article.title %></h1>
        <!--corpo-->
        <p class="lead my-3"><%= truncate(article.body, length: 140) %></p>
        <!--leia mais-->
        <%= link_to t('articles.continue_reading'), article, class: "text-white fw-bold" %>
    </div>
</div>