<h1>Edit article</h1>
<!--caixas para edição do artigo-->
<%= render 'form', article: @article %>
<!--cancela e retorna a postagem-->
<%= link_to 'Cancel', article_path(@article), class: 'btn btn-secondary' %>