<h1>New article</h1>
<!--caixas para edição do artigo-->
<%= render 'form', article: @article %>
<!--cancela o artifo e retorna a pagina inicial-->
<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>