<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <%= link_to "Categories", categories_path, class: 'link-secondary' if policy(:category).index? %>
      </div>
      
      <div class="col-4 text-center">
        <%= link_to "TYCO", root_path, class: 'blog-header-logo text-body-emphasis' %>
      </div>

      <div class="col-4 d-flex justify-content-end align-items-center">
        <%= render 'layouts/account_links' %>
      </div>
    </div>
  </header>
  <!--categorias das postagens-->
  <%= yield :category_filter %>
</div>